html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    /* width: 100%; */
    height: auto;
}


body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
    color: black;
    background: url(./image/body.png);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.del-decor {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}




/* header */
.background-section {
    position: relative;
    background: #E8ECF5;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.section-hero {
    height: 658px;
    padding-top: 30px;
}


.nav-header {
    display: flex;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link-li {
    margin-right: 60px;
}

.nav-link-li:nth-child(5n) {
    margin-right: 0;
}

.logo-hero {
    width: 93px;
    margin-right: 185px;


}

.nav-font-logo {

    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 24px */

    color: rgba(13, 13, 13, 0.95);
}

.nav-font {
    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 20px */

    color: rgba(0, 0, 0, 0.95);
}


.nav-button {
    width: 153px;
    height: 54px;
    margin-left: 130px;


    background: #253E87;
    border-radius: 35px;

    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 24px */

    color: #FFFFFF;
}













/* hero */
.position-SVG-h {
    position: relative;
}

.title-hero {
    margin-top: 125px;
    margin-bottom: 54px;
    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    /* identical to box height, or 62px */

    /* text*/
    color: #253E87;
}

.p-hero {
    width: 612px;
    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */

    /* text */
    color: #333333;
}

.position-p-hero {
    position: relative;
}

.img-line-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230px, 110px);
}

.img-line-sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-260px, 120px);
}

.img-position-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -210px);
}

.img-track-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-715px, -120px);
}

.img-line-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-360px, -60px);
}

.img-arrow-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-400px, 100px);
}

.img-compani-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-400px, 130px);
}

.nav-font.current {
    color: #253E87;
}

.nav-font.current::after {
    content: "";
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url(./image/Vector\ 17.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0.57deg);
}





/* information */
.section-inform-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.title-inform {
    margin-bottom: 70px;


    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 103%;
    /* identical to box height, or 62px */

    color: #253E87;
}

.flex-section-inform {
    display: flex;
    justify-content: center;
}

.options-li {
    width: 309px;
    height: 402px;
    padding-left: 24px;
    padding-right: 29px;
    padding-top: 23px;
    padding-bottom: 42px;
    border: 1px solid #5BB839;
    border-radius: 20px;
    margin-right: 42px;
}

.options-li:nth-child(3n) {
    margin-right: 0;
}

.options-inform-p {
    width: 251px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.div-link-inform {
    border: 1px solid rgba(202, 202, 202, 0.41);
}

.inform-logo {
    margin-bottom: 25px;
}

.btn-inform {
    width: 256px;
    height: 54px;
    margin-top: 20px;

    background: #5BB839;
    border-radius: 35px;

    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 134%;
    /* or 24px */

    color: #FFFFFF;
}

.img-hamster-inform {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* custons */
.bagraund-section-customs {
    background: #253E87;
    width: 100%;
    height: 387px;
    padding: 84px 497px;
}

.section-options-customs {
    position: relative;
    text-align: center;
}

.title-customs {
    width: 851px;
    margin-right: auto;
    margin-left: auto;


    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 103%;
    /* or 62px */
    text-align: center;

    color: #FFFFFF;
}

.btn-customs {
    width: 221px;
    height: 54px;
    margin-top: 45px;


    background: #5BB839;
    border-radius: 35px;

    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 134%;
    /* or 24px */

    color: #FFFFFF;
}

.position-img-customs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(400px, -150px);
}

.img-track-customs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -210px);
}









/* footer */
.pading-footer {
    padding-top: 67px;
    padding-bottom: 69px;
}

.nav-footer {
    display: flex;
}

.nav-link-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-link-li-footer {
    margin-right: 60px;
}

.nav-link-li-footer:nth-child(5n) {
    margin-right: 0;
}

.logo-hero-footer {
    width: 93px;
    margin-right: 212px;


}

.font-footer {

    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 24px */

    color: rgba(0, 0, 0, 0.64);
}

.nav-font-footer {
    /* font */
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 20px */

    color: rgba(0, 0, 0, 0.64);
}

.flex-footer {
    display: flex;
    margin-top: 43px;

    justify-content: space-between;
}

.text-footer {
    width: 429px;
    height: 100px;
}

.li-footer {
    margin-bottom: 19px;
}

.li-footer:nth-child(2n) {
    margin-bottom: 0;
}

.decor-href {
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 134%;
    /* identical to box height, or 20px */

    /* Gray 3 */
    color: #828282;
}

.decor-href:before {
    content: "";
    padding: 0;
    margin: 0;
    display: block;
    background-image: url("./image/Vector.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}

.p-text-footer {
    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 134%;
    /* or 20px */

    color: #828282;
}

.text-footer-compani {
    width: 253px;
}

.text-footer-compani-p {
    margin-bottom: 15px;

    font-family: "Rimouski";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 134%;
    /* or 20px */

    color: #828282;
}

.text-footer-compani-p:nth-child(3n) {
    margin-bottom: 0;
}